.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", admin_plugins_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Plugins
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.admin_plugin.name", :default => t("activerecord.labels.name", :default => "Name"))
          %th Description
          %th.last &nbsp;
        - @plugins.each do |plugin|
          %tr{:class => cycle("odd", "even")}
            %td
              = plugin.id
            %td
              = link_to plugin.name, admin_plugin_path(plugin)
            %td
              = plugin.description
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", admin_plugin_path(plugin)
      .actions-bar.wat-cf
        .actions
- content_for :sidebar, render(:partial => 'sidebar')
