.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", admin_clients_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_client_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Clients
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.admin_client.name", :default => t("activerecord.labels.name", :default => "Name"))
          %th Api Key
          %th Project
          %th User
          %th.last &nbsp;
        - @clients.each do |client|
          %tr{:class => cycle("odd", "even")}
            %td
              = client.id
            %td
              = link_to client.name, admin_client_path(client)
            %td= client.api_key
            %td= client.project.name
            %td= client.user.email
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", admin_client_path(client)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_client_path(client)}
              |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_client_path(client), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
- content_for :sidebar, render(:partial => 'sidebar')
